---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";

const {
  title = "Olimpo Construcciones",
  description = "Construcción y reformas en Piriápolis, Maldonado.",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>

  <body>
    <Navbar />
    <slot />
  </body>
</html>